<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="www.dolabank.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="description" content="多啦聚财官网-(www.dolabank.com 多啦客服电话: 400-9300-986.订阅号:多啦聚财）专注于互联网消费金融理财平台，以海量消费分期项目，风险可控，为投资者提供优质的多啦定期、多啦活期消费类理财服务">
    <meta name="keywords" content="消费金融,佰仟金融,多啦聚财官网,消费理财,深圳消费金融,消费理财平台,消费金融公司">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/libs/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/a1905/a1905_wap.css">
    <script src="../../static/libs/flexible.min.js"></script>
</head>
<body>
    <div class="activity__container">
        <div class="banner"></div>
        <div class="activity-countdown">
            <span class="countdown-text">本月还剩</span>
            <span class="countdown-date" id="countdown_day">18</span>
            <span class="countdown-unit">天</span>
            <span class="countdown-date" id="countdown_hour">18</span>
            <span class="countdown-unit">时</span>
            <span class="countdown-date" id="countdown_minutes">58</span>
            <span class="countdown-unit">分</span>
            <span class="countdown-date" id="countdown_seconds">59</span>
            <span class="countdown-unit">秒</span>
            <span class="countdown-text">可领取</span>
        </div>
        <div class="content-wrapper coupon-wrapper">
            <div class="content-container">
                <h3 class="content-title">钱包券4选1</h3>
                <p class="description-text">活动期间内，每个自然月可任意领取以下4张钱包券中的1张。</p>
                <ul class="coupon-lists">
                    <li class="coupon-item">
                        <div class="coupon-img wallet_100"></div>
                        <p class="coupon-text">出借金额≥100,3个月以上</p>
                        <button class="coupon-btn get_coupon_js" data-coupon_id="1">点击领取</button>
                    </li>
                    <li class="coupon-item">
                        <div class="coupon-img wallet_300"></div>
                        <p class="coupon-text">出借金额≥100,3个月以上</p>
                        <button class="coupon-btn get_coupon_js" data-coupon_id="2">点击领取</button>
                    </li>
                </ul>
                <ul class="coupon-lists">
                    <li class="coupon-item">
                        <div class="coupon-img wallet_1000"></div>
                        <p class="coupon-text">出借金额≥1000,6个月以上</p>
                        <button class="coupon-btn get_coupon_js" data-coupon_id="3">点击领取</button>
                    </li>
                    <li class="coupon-item">
                        <div class="coupon-img wallet_2000"></div>
                        <p class="coupon-text">出借金额≥1000,6个月以上</p>
                        <button class="coupon-btn get_coupon_js" data-coupon_id="4">点击领取</button>
                    </li>
                </ul>
                <div class="href-text"><i class="icon icon-left"></i>前往<a href="javascript:;" class="coupon-link">“余额复投”</a>使用<i class="icon icon-right"></i></div>
            </div>
        </div>
        <div class="content-wrapper interest-wrapper">
            <div class="content-container">
                <h3 class="content-title">加息券4选1</h3>
                <p class="description-text">活动期间内，每个自然月可任意领取以下4张加息券中的1张。</p>
                <ul class="coupon-lists">
                    <li class="coupon-item">
                        <div class="coupon-img interest_3"></div>
                        <p class="coupon-text">出借金额≥100,3个月以上</p>
                        <button class="coupon-btn get_coupon_js" data-coupon_id="5">点击领取</button>
                    </li>
                    <li class="coupon-item">
                        <div class="coupon-img interest_5"></div>
                        <p class="coupon-text">出借金额≥100,3个月以上</p>
                        <button class="coupon-btn get_coupon_js" data-coupon_id="6">点击领取</button>
                    </li>
                </ul>
                <ul class="coupon-lists">
                    <li class="coupon-item">
                        <div class="coupon-img interest_7"></div>
                        <p class="coupon-text">出借金额≥1000,6个月以上</p>
                        <button class="coupon-btn get_coupon_js" data-coupon_id="7">点击领取</button>
                    </li>
                    <li class="coupon-item">
                        <div class="coupon-img interest_10"></div>
                        <p class="coupon-text">出借金额≥1000,12个月以上</p>
                        <button class="coupon-btn get_coupon_js" data-coupon_id="8">点击领取</button>
                    </li>
                </ul>
                <div class="href-text"><i class="icon icon-left"></i>前往<a href="javascript:;" class="coupon-link">“预约出借工具”</a>使用<i class="icon icon-right"></i></div>
            </div>
        </div>
        <div class="content-wrapper rule-wrapper">
            <div class="content-container">
                <h3 class="content-title">活动规则</h3>
                <div class="rule-wrap">
                    <dl class="rule-row clearfix">
                        <dt class="rule-tit">活动时间：</dt>
                        <dd class="rule-cont">2019年5月1日-7月31日；</dd>
                    </dl>
                    <dl class="rule-row clearfix">
                        <dt class="rule-tit">活动对象：</dt>
                        <dd class="rule-cont">多啦聚财平台所有用户；</dd>
                    </dl>
                    <dl class="rule-row clearfix">
                        <dt class="rule-tit">活动内容：</dt>
                        <dd class="rule-cont">活动期间内，用户每个自然月内可自由领取1张【钱包券】和1张【加息券】，用户领取后可到个人账户中心查看并使用，若自然月内用户未领取，则不再补领。</dd>
                    </dl>
                    <dl class="rule-row clearfix">
                        <dt class="rule-tit">使用期限：</dt>
                        <dd class="rule-cont">【钱包券】和【加息券】需在发放之日起15天内使用，过期无效；</dd>
                    </dl>
                    <dl class="rule-row clearfix">
                        <dt class="rule-tit">奖励规则：</dt>
                        <dd class="rule-cont">【钱包券】按出借金额0.4%返现，上限为券面额度，用完即止，【加息券】为全程加息；</dd>
                    </dl>
                    <dl class="rule-row clearfix">
                        <dt class="rule-tit">出借标的：</dt>
                        <dd class="rule-cont">【钱包券】不可用于新手标，【加息券】仅限预约出借；</dd>
                    </dl>
                    <dl class="rule-row clearfix">
                        <dt class="rule-tit">奖励发放：</dt>
                        <dd class="rule-cont">根据对应的【钱包券】或【加息券】的使用规则进行发放，使用任意一张【加息券】时，如提前退出，未发放的奖励将不再继续发放。</dd>
                    </dl>
                    <dl class="rule-row clearfix">
                        <dt class="rule-tit">名词注解：</dt>
                        <dd class="rule-cont">自然月指的是活动期间内，每个月的第一天至最后一天。</dd>
                    </dl>
                    <p class="rule-cont">本次活动最终解释权在法律范围内归多啦聚财平台所有，如存在恶意刷取奖励、作弊等情况一经发现平台有权取消 奖励，有任何疑问可咨询在线客服或致电 400-9300-986；</p>
                </div>
            </div>
        </div>
        <div class="explain-wrapper">
            <p class="explain">深圳嘉银普惠科技有限公司 </p>
            <p class="explain">粤ICP备14102011号-1  市场有风险，投资需谨慎</p>
            <p class="explain">本次活动与Apple Inc.无关</p>
        </div>
    </div>

    <script src="../../static/libs/layui/layui.js"></script>
    <script src="../../static/js/common.js"></script>
    <script>
        layui.use(['jquery', 'util', 'layer'], function () {
            var $ = layui.jquery,
                util = layui.util,
                layer = layui.layer;

            // 倒计时
            var endTime = new Date(2019, 5, 31).getTime(),
                serverTime = new Date().getTime();

            util.countdown(endTime, serverTime, function(date, serverTime, timer){
                $('#countdown_day').text(add0(date[0]));
                $('#countdown_hour').text(add0(date[1]));
                $('#countdown_minutes').text(add0(date[2]));
                $('#countdown_seconds').text(add0(date[3]));
            });

            // 领取优惠券
            $('.get_coupon_js').on('click', function (e) {
                e.preventDefault();

                var $this = $(this);
                var couponId = $(this).data('coupon_id');

                layer.open({
                    type: 0,
                    content: '恭喜您，优惠券领取成功！',
                    resize: false,
                    move: false,
                    yes: function (index, layero) {
                        _getCouponBtnStatus($this);

                        layer.close(index);
                    },
                    cancel : function (index, layero) {
                        _getCouponBtnStatus($this);
                        layer.close(index);
                    }
                });
            });

            function _getCouponBtnStatus(ele) {
                ele.addClass('is-get').text('已领取').off('click');
                ele.parent('li').siblings('li').find('.get_coupon_js').addClass('not-get').text('不可领取').off('click');
                ele.parent().parent().siblings().find('.get_coupon_js').addClass('not-get').text('不可领取').off('click');
            }
        });
    </script>
</body>
</html>
